# virtual environment
env

# python interpreter
__pycache__

# sqlite3
site.db-journal

# .jpeg image
*.jpg

# pointcloud file
*.ply

# compressed file
*.zip
*.rar
*.tar

# execution file
*.exe

# temporary file of arduino IDE
*.tmp