{% extends 'layout.html' %}

{% block content %}

    <h1 style="color:green;text-align:center;">Jetboy's manual panel</h1>
    <br>
    
    <!-- Estop -->
    <h2 style="color:green;text-align:center;">bit move</h2>
    <br>
    
    <!-- button Estop -->
    <div clas = 'row'>
        <form action = "{{ url_for('estop') }}" method = 'POST'>
            <small class="form-text text-muted">.</small>
            <p class = 'text-center'>
                {% if estop == True %}
                    <button type="Estop" class="btn btn-danger mb-4">ESTOP</button>
                {% else %}
                    <button type="Estop" class="btn btn-primary mb-6">ESTOP</button>
                {% endif %}
            </p>
        </form>
    
    <!-- bit move -->
    </div>
    <br><br>
    <div class = 'container h-100'>
        <div class="position-relative h-100">

            <div class="position-absolute top-center">
                <form action = "{{ url_for('manual') }}" method = 'POST'>
                    <input type = 'hidden' name = 'command' id = 'command'  value = 'bit_forward'>
                    <button class="btn btn-primary">&#8593;</button>
                </form>
            </div>
            <br><br><br>

            <div class="position-absolute mid-center">
                <form action = "{{ url_for('manual') }}" method = 'POST'>
                    <input type = 'hidden' name = 'command' id = 'command'  value = 'stop'>
                    <button class= 'btn btn-warning'>Stop</button>
                </form>
            </div>
            <br><br><br>

            <div class="position-absolute bottom-center">
                <form action = "{{ url_for('manual') }}" method = 'POST'>
                    <!-- Why button type = 'button' i can not post the form ??? -->			
                    <input type = 'hidden' name = 'command' id = 'command' value = 'bit_backward'>
                    <button class="btn btn-primary">&#8595;</button>
                </form>
            </div>

            <div class="position-absolute mid-left">
                <form action = "{{ url_for('manual') }}" method = 'POST'>
                    <input type = 'hidden' name = 'command' id = 'command'  value = 'bit_turnleft'>
                    <button class="btn btn-primary">&#8592;</button>
                </form>
            </div>

            <div class = "position-absolute mid-right">
                <form action = "{{ url_for('manual') }}" method = 'POST'>
                    <input type = 'hidden' name = 'command' id = 'command'  value = 'bit_turnright'>
                    <button class="btn btn-primary">&#8594;</button>
                </form>
            </div>
        </div>
    </div>   
    <br>

    <!-- Continous move -->
    <h2 style="color:green;text-align:center;">continous move</h2>
    <div class = 'row'>
        <p>_____</p>
        <form action = "{{ url_for('manual') }}" method = 'POST'>
            <input type = 'hidden' name = 'command' id = 'command' value = 'forward'>
            <button class="btn btn-primary mb-2">&#8593;</button>
        </form>
        <p>_____</p>
        <form action = "{{ url_for('manual') }}" method = 'POST'>
            <input type = 'hidden' name = 'command' id = 'command' value = 'backward'>
            <button class="btn btn-primary mb-2">&#8595;</button>
        </form>
        <p>_____</p>
        <form action = "{{ url_for('manual') }}" method = 'POST'>
            <input type = 'hidden' name = 'command' id = 'command' value = 'turnleft'>
            <button class="btn btn-primary mb-2">&#8592;</button>
        </form>
        <p>_____</p>
        <form action = "{{ url_for('manual') }}" method = 'POST'>
            <input type = 'hidden' name = 'command' id = 'command' value = 'turnright'>
            <button class="btn btn-primary mb-2">&#8594;</button>
        </form>
        <p>_____</p>
    </div>
    <br>

    <!-- function -->
    <h2 style="color:green;text-align:center;">function</h2>
    <div class = 'row'>
        <form action = "{{ url_for('capture_img') }}" method = 'POST'>
            <input type = 'hidden' name = 'capture image'>
            <button class="btn btn-primary mb-2">cap img</button>
        </form>
        <p>_____</p>
        <form action = "{{ url_for('capture_pointcloud') }}" method = 'POST'>
            <input type = 'hidden' name = 'capture pointcloud'>
            <button class="btn btn-primary mb-2">cap pointcloud</button>
        </form>
    </div>
    <br>

    
    <!-- Content manual -->
    <h2 style="color:green;text-align:center;">content</h2>
    <div clas = 'row'>
        <form action = "{{ url_for('content') }}" method = 'POST'>
            <input class="form-control form-control-lg" type="text" placeholder = "What you wanna say?" name = "content">
            <small class="form-text text-muted">.</small>     
            <button type="submit" class="btn btn-primary mb-2">say it!</button>
        </form> 
    </div>
    <br>
    
    <!-- Emotion manual -->
    <h2 style="color:green;text-align:center;">emotion</h2>
    <div class = 'row'>
        <form action = "{{ url_for('emotion') }}" method = 'POST'>
            <input type = 'hidden' name = 'emotion' value = 'sleeping'>
            <button type="submit" class="btn btn-secondary" style="font-size:50px">&#128564;</button>
        </form>
        <form action = "{{ url_for('emotion') }}" method = 'POST'>
            <input type = 'hidden' name = 'emotion' value = 'face-sad'>
            <button type="submit" class="btn btn-secondary" style="font-size:50px">&#128532;</button>
        </form>
        <form action = "{{ url_for('image') }}" method = 'POST'>
            <input type = 'hidden' name = 'image' value = 'straightface'>
            <button type="submit" class="btn btn-secondary" style="font-size:50px">&#128528;</button>
        </form>
        <form action = "{{ url_for('emotion') }}" method = 'POST'>
            <input type = 'hidden' name = 'emotion' value = 'simplesmileblink'>
            <button type="submit" class="btn btn-secondary" style="font-size:50px">&#128578;</button>
        </form>
        <form action = "{{ url_for('emotion') }}" method = 'POST'>
            <input type = 'hidden' name = 'emotion' value = 'happyblink'>
            <button type="submit" class="btn btn-secondary" style="font-size:50px">&#128515;</button>
        </form>
        <form action = "{{ url_for('emotion') }}" method = 'POST'>
            <input type = 'hidden' name = 'emotion' value = 'blushing'>
            <button type="submit" class="btn btn-secondary" style="font-size:50px">&#128563;</button>
        </form>
        <form action = "{{ url_for('emotion') }}" method = 'POST'>
            <input type = 'hidden' name = 'emotion' value = 'cat-typing'>
            <button type="submit" class="btn btn-secondary" style="font-size:50px">&#128569;</button>
        </form>
        <form action = "{{ url_for('emotion') }}" method = 'POST'>
            <input type = 'hidden' name = 'emotion' value = 'dog-looking'>
            <button type="submit" class="btn btn-secondary" style="font-size:50px">&#128054;</button>
        </form>
    </div>

    <!-- Program control -->
    <h2 style="color:green;text-align:center;">program controll</h2>
    <div class = 'row'>
        <form action = "{{ url_for('manual') }}" method = 'POST'>
            <input type = 'hidden' name = 'command' id = 'command' value = 'kill'>
            <button class="btn btn-danger mb-2">close GPIO</button>
        </form>
        <p>_____</p>
        <form action = "{{ url_for('shutdown') }}" method = 'POST'>
            <button class="btn btn-danger mb-2">shutdown server</button>
        </form>
        <p>_____</p>
    </div>
    <br>
{% endblock content %}

		
