<!doctype html>
	<html lang = 'en'>
		<head>
			<title> 
				{% block title1 %}
				{% endblock %}
			</title>

			<style>
				.button {
				  background-color: #4CAF50;
				  border: none;
				  color: white;
				  padding: 15px 32px;
				  text-align: center;
				  text-decoration: none;
				  display: inline-block;
				  font-size: 16px;
				  margin: 4px 2px;
				  cursor: pointer;
			</style>
		</head>
		<body>
			<!--Navigation Bar-->
			<button class = "button"><a href = "/">Home</a></li></button>
			<button class = "button"><a href = "/view">View</a></li></button>
			<button class = "button"><a href = "/detect">Detect</a></li></button>
			<h1>
				{% block title2 %}
				{% endblock %}
			</h1>
				{% block content %}
				{% endblock %}
		</body>
	</html>